@import url("tipografia/fonts.css");
body {
    padding: 0px;
    margin: 0px;
    font-family: Quicksand;
}

.header {
    text-align: right;
    width: 100%;
    position: absolute;
    padding: 20px 30px;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 999;
}


H2 {
    color: #565656;
}

.responsive-menu {
    display: none;
}

.logo {
    float: left;
}

.logo img {
    width: 140px;
}

.icons-actions-2{
    display: inline-block;
}

.search {
    width: 32px;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
}

.search img {
    width: 100%;
}

.bag {
    width: 32px;
    padding: 4px;
    vertical-align: middle;
    display: inline-block;
}

.bag img {
    width: 100%;
}


.navigator-menu {
    text-align: right;
    display: inline-block;
}

.menu {
    margin: 0px;
    padding: 0px;
    text-align: right;
    font-size: 16px;
    color: #ffff;
    display: inline-block;
    
}

.menu a {
    color: #ffff;
}

.menu :hover {
    color: #358E81
}

.menu li {
    display: inline-block;
}

.menu li a {
    display:  inline-block;
    text-decoration: none;
    padding: 5px 20px;
}

.hero img {
    width: 100%;
}

.promo {
    background-color: #FFE8E8;
    color: #725247;
    text-align: center;
    padding: 15px;
}

.list {
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin: 15px;
    width: 100%;
    color: #565656;
}

.selector {
    background-color: #DCF4EB;
    border: 2px;
    border-color: #358E81;
    border-radius: 10px;
    width: 33.3%;
    height: 66%;
    margin: 10px;
}

.item {
    width: 33.3%;
    box-sizing: border-box;
    padding: 10px;
}

.item img {
    width: 250px;
}

.boton-comprar {
    background-color: #358E81;
    font-size: 18px;
    text-align: center;
    width: 450px;
    padding: 20px;
    color: #ffff;
}

@media (max-width: 700px) { 

    .navigator-menu {
        display: none;
    }

    .logo img {
        width: 80px;
    }

    .responsive-menu {
        float: left;
        display: inline-block;
        margin-right: 10px;
    }
}