@font-face{
    font-family: FjallaOne;
    src: url(FjallaOne-Regular.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: Quicksand;
    src: url(Quicksand_Book.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: Quicksand;
    src: url(Quicksand_Bold.otf);
    font-weight: 500;
    font-style: bold;
}
